# Binaries folders #
####################
target/

# Eclipse Files   #
###################
.settings/
.classpath
.project

# Compresse files #
###################
*.jar

# Configuration files #
#######################
pom.xml
